<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #mainCon {
            /* background: url("/images/sample.jpeg"); */
            display: flex;
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }



        #backgroundPhoto{
            color:white;
            background-image: url(images/cvpaper.jpg);
             background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width:100%;
            height: 100%;
            z-index: 1;
            position: fixed; 

        }

        #imagesHolderMaker{
            width:100%;
            height: 100%;
        }
    #coverImage{
             width:100%;
            height: 100%;
            z-index: 2;
            position: fixed;  

            background-color: black;
            opacity: 0.5;
     }



        .wrapper h1 {
            text-align: center;
            color: #fff;
        }

        .wrapper {
            background: transparent;
            width: 420px;
            margin-top: 100px;
            padding: 30px 50px;
           /*  backdrop-filter: blur(15px); */
            border: 3px solid rgba(255, 255, 255, .2);
            height: 400px;
            text-align: center;
            position: relative;
            z-index: 2;
        }

        .wrapper .input-box {
            width: 100%;
            height: 50px;
            margin: 10px;
        }

        .wrapper .input-box input {
            width: 100%;
            outline: none;
            border: none;
            height: 100%;
            background: transparent;
            border-bottom: 2px solid #ffffff;
            color: white;
        }

        .wrapper .input-box input::placeholder {
            color: #fff;
            font-size: 20px;
            font-family: monospace;

        }

        .wrapper .checkbox {
            text-align: center;
            margin: 10px;
            color: #fff;
        }

       

        .wrapper .btn button {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            font-weight: 600;
            font-size: 20px;
            border: none;
            background: #ffffff;
        }

        

        #myBtn:active {
            background-color: hsl(0, 0%, 80%);
        }
        a{
            color: lightblue;
        }
       
        .menudiv{
            position: absolute;
             text-align: center; 
             top:5%;
             width: 100%; 
             height: auto;
             z-index: 2;
        }
        .menudiv button, .btn{
            width: 80px;
            border-radius: 10px;
            
            background-color: black;
            color:lightblue;
            padding: 2px;
            font-size: 14px;
        }

        .menudiv button:hover, .btn:hover{
            background-color: white;
            color:blue;

        }
        .btn{
            width:150px;
            padding: 5px;
        }
    </style>
   
     <!-- Include the  sweetalert2@9 library   for pop alert box-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9">
    </script>
    <script src="../LocalStorageVariableHolder/LocalStorageVariableHolder.js"></script>

</head>

<body>

    <div id="backgroundPhoto">
        <img  id="imagesHolderMaker" width="100%" height="100%" />
       </div>
       <div id="coverImage">

    </div>


    <div id="mainCon">


        <div class="menudiv">
            <a href=""> <button class="btn-white">HOME</button></a>
            <a href="/login"> <button class="btn-white">Login</button></a>
            <a href=""> <button class="btn-white">CV Panel</button></a>
            <a href=""> <button class="btn-white">Pendro AI</button></a>
            <a href=""> <button class="btn-white">Jobs</button></a>
            <a href=""> <button class="btn-white">Schools</button></a>
    
            <a href=""> <button class="btn-white">About</button></a>
            <a href=""><button class="btn-white">Contact</button></a>       
      </div>
        <div class="wrapper">


            
            <h1>Account-Email Update :  </h1>
            <form action="/changeUpdateWithNewEmailForVerification" method="post"  id="changeEmailFormForVerificationForm">
               
                <div class="input-box">
                    <input type="email" name="email" id="email" required placeholder="Enter New Email">
                </div>

                <div class="input-box">
                    <input type="email" name="confirmEmail" id="confirmEmail" required placeholder="Confirm New Email">
                </div>
            
                <input type="hidden" id="isEmailVerified" name="isEmailVerified" value="no"/> <br>
                <input type="hidden" id="isUserNameAvailable" name="isUserNameAvailable" value="no"/> <br>

                <input type="hidden" id="existingEmail" name="existingEmail"/> <br>
                <input type="hidden" id="userSN" name="userSN" /><br>
                <input type="hidden" id="userName" name="userName" /><br>

                <input type="hidden" id="password" name="password"/> <br>


                <button  id="updateEmailBtn">update email</button>
            </form>
          


           
        </div>
    </div>

    
    <script>

        
            var newEmail = document.getElementById("email");
              
            var confirmEmail = document.getElementById("confirmEmail");

            var updateEmailBtn = document.getElementById("updateEmailBtn");
            var changeEmailFormForVerificationForm = document.getElementById("changeEmailFormForVerificationForm");
            updateEmailBtn.addEventListener("click", e=>{

                e.preventDefault();
                var confirmEmailVal = confirmEmail.value;
                var newEmailVal  = newEmail.value;

                if(newEmailVal != null && newEmailVal != "" && newEmailVal.length > 3 ){
                    if(confirmEmailVal != null && confirmEmailVal != "" && confirmEmailVal.length > 3 ){

                          if(confirmEmailVal.toLowerCase() ==  newEmailVal.toLowerCase()){
                            changeEmailFormForVerificationForm.submit();
                           }
                           else{
                            inputError("Email not Match. Please confirm your new input");


                           }
                      }
                    else{

                        inputError("Confirmation Email is empty");

                     }

                }
                else{

                    inputError("New Requested Email is empty");

                }
                
            });


            function inputError(inputError){

                Swal.fire(
                     "Operation Denied",
    
                     `${inputError}`,
    
                     "error"
                );
            }
        /*
email:email,SN:userSN, password: password,
        userName:userName,isUserNameAvailable: isUserNameAvailable, 
        isEmailVerified:isEmailVerified



        */



 
      </script>
  


<% if (typeof email !="undefined" ) { %>

    <script>
            var localEmailVerificantioHolder = new LocalEmailVerificantioHolder();

        var existingEmail = document.getElementById("existingEmail");
        existingEmail.style.color = "blue";
        let email = '<%- JSON.stringify(email) %>'; // a string
        email = (email.replaceAll("\"","").replaceAll("'",""));
        existingEmail.value =  email;
        localEmailVerificantioHolder.setEmail(email);



    </script>
<%}%>

<% if (typeof password !="undefined") { %>

    <script>
            var localEmailVerificantioHolder = new LocalEmailVerificantioHolder();

    let password = '<%- JSON.stringify(password) %>'; // a string
        password = (password.replaceAll("\"","").replaceAll("'",""));
    var passwordGui = document.getElementById("password");
    passwordGui.style.color = "blue";
    passwordGui.value = password;

    localEmailVerificantioHolder.setPassword(password);

    </script>


    
<%}%>

<% if (typeof userName !="undefined") { %>
    
    <script>
    var localEmailVerificantioHolder = new LocalEmailVerificantioHolder();
    let userNamee = '<%- JSON.stringify(userName) %>'; // a string
      userNamee = (userNamee.replaceAll("\"","").replaceAll("'",""));
    localEmailVerificantioHolder.setLoginUser(userNamee);
   
   var userNameGUI = document.getElementById("userName");
   userNameGUI.style.color = "blue";
   userNameGUI.value = userNamee;

    </script>
<%}%>

<% if (typeof userSN !="undefined") { %>
    
    <script>
    var localEmailVerificantioHolder = new LocalEmailVerificantioHolder();
    let userSNN = '<%- JSON.stringify(userSN) %>'; // a string
    userSNN = (userSNN.replaceAll("\"","").replaceAll("'",""));
    localEmailVerificantioHolder.setUserSN(userSNN);
   
   var uuserSN = document.getElementById("userSN");
       uuserSN.style.color = "blue";
        uuserSN.value = userSNN;

    </script>
<%}%>


<% if (typeof isEmailVerified !="undefined") { %>

    <script>
        // not neccessary
   var localEmailVerificantioHolder = new LocalEmailVerificantioHolder();
    let isEmailVerified = '<%- JSON.stringify(isEmailVerified) %>'; // a string
    isEmailVerified = (isEmailVerified.replaceAll("\"","").replaceAll("'",""));
   localEmailVerificantioHolder.setIsEmailVerified(isEmailVerified);
    
   var isEmailVerifiedd = document.getElementById("isEmailVerified");
       isEmailVerifiedd.style.color = "blue";
       isEmailVerifiedd.value = isEmailVerified;
    </script>
<%}%>



<% if (typeof systemError !="undefined" && typeof email !="undefined") { %>

    <script>

let emailDataDa = '<%- JSON.stringify(email) %>'; // a string
     emailDataDa = (emailDataDa.replaceAll("\"","").replaceAll("'",""));
var mainNewEmailGul = document.getElementById("email");
mainNewEmailGul.value= emailDataDa; // we attach his new input that cus the error

    let systemError = '<%- JSON.stringify(systemError) %>'; // a string
    systemError = (systemError.replaceAll("\"","").replaceAll("'",""));
    Swal.fire(
        "Operation Denied",
    
        `${systemError}`,
    
        "error"
    );
    </script>
<%}%>




<% if (typeof isEmailChangeSuccessFull !="undefined"  &&  email != "undefined") { %>

    <script>
            let emailData = '<%- JSON.stringify(email) %>'; // a string
            emailData = (emailData.replaceAll("\"","").replaceAll("'",""));

            var mainNewEmailGul = document.getElementById("email");
            mainNewEmailGul.value= emailData;

            var confirmEmail = document.getElementById("confirmEmail");
            confirmEmail.value= emailData;

            
    let isEmailChangeSuccessFull = '<%- JSON.stringify(isEmailChangeSuccessFull) %>'; // a string
        isEmailChangeSuccessFull  = (isEmailChangeSuccessFull.replaceAll("\"","").replaceAll("'",""));
    if(isEmailChangeSuccessFull != null && isEmailChangeSuccessFull.toLowerCase() == "yes"){
        Swal.fire({
           title:"Email successfuly updated.",
           text:"You account is now Linked with "+emailData+". Currently it is unverified Email account. \n Verify your account for full features ?",
         //  type:"success / warning/ question",
           type:"success",
           showCancelButton: true,
           showConfirmButton:true,
           animation:true,
           confirmButtonText:"Verify",
           confirmButtonColor:'darkblue',
           cancelButtonText:"Login",
           allowOutsideClick:false,
           allowEscapeKey:false,
          
       }).then(confirm=>{
   
           if(confirm){ // verify
              window.location.href="/startVerificationWithReloginEmailAndPasword";
           }else{ //
             
              window.location.href="/login";
           }
       });
    }
    
    </script>
<%}%>

</body>

</html>